@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 142 76% 37%;

    --radius: 0.5rem;

    --color-stop-1: 142 76% 37%;
    --color-stop-2: 119 65% 75%;
    --color-stop-3: 49 91% 52%;

    --snap-point-height: 95vh;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 142 69% 36%;

    --color-stop-1: 142 76% 37%;
    --color-stop-2: 119 65% 75%;
    --color-stop-3: 49 91% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.icon-gradient {
  fill: url(#svg-gradient) #16a34a;
}

.simple-keyboard.wt-keyboard {
  background-color: hsl(var(--background));
}

.simple-keyboard.wt-keyboard .hg-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--secondary));
  color: hsl(var(--foreground));
  border-bottom-color: hsl(var(--background));
  font-weight: 500;
}

.simple-keyboard.wt-keyboard .hg-button:active {
  color: hsl(var(--primary-foreground)) !important;
}

.simple-keyboard.wt-keyboard .hg-activeButton {
  color: hsl(var(--primary-foreground)) !important;
}

.simple-keyboard.wt-keyboard .hg-button-backspace {
  font-size: larger;
  line-height: normal;
}