@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97%;
    --foreground: 240 10% 0.9%;

    --muted: 240 4.8% 92.9%;
    --muted-foreground: 240 3.8% 43.1%;

    --popover: 0 0% 97%;
    --popover-foreground: 240 10% 0.9%;

    --card: 0 0% 97%;
    --card-foreground: 240 10% 0.9%;

    --border: 240 5.9% 87%;
    --input: 240 5.9% 87%;

    --primary: 240 5.9% 7%;
    --primary-foreground: 0 0% 95%;

    --secondary: 240 4.8% 92.9%;
    --secondary-foreground: 240 5.9% 7%;

    --accent: 240 4.8% 92.9%;
    --accent-foreground: 240 5.9% 7%;

    --destructive: 0 84.2% 57.2%;
    --destructive-foreground: 0 0% 95%;

    --ring: 142 76% 34%;

    --radius: 0.5rem;

    --color-stop-1: 142 76% 37%;
    --color-stop-2: 119 65% 75%;
    --color-stop-3: 49 91% 52%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --ring: 142 69% 36%;

    --color-stop-1: 142 76% 37%;
    --color-stop-2: 119 65% 75%;
    --color-stop-3: 49 91% 52%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.icon-gradient {
  fill: url(#svg-gradient) #16a34a;
}

.simple-keyboard.wt-keyboard {
  background-color: hsl(var(--background));
}